<div class="contribution-invitation">
    <hr>
    <blockquote>
        <p>Hey there! 👋 Thank you for reading this article!</p>
        <p>
            Is there something missing or do you have an idea on how to improve the documentation?
            Do you want to write your own article?
        </p>
        <p>
            You're invited to contribute to the Codeberg Documentation at <a href="https://codeberg.org/Codeberg/Documentation">its source code repository</a>,
            for example by <a href="/collaborating/pull-requests-and-git-flow">Adding a pull request</a>
            or joining in on the discussion in <a href="https://codeberg.org/Codeberg/Documentation/issues">the issue tracker</a>.
        </p>
    </blockquote>
</div>